#contenedor
{
    background-color: aqua;
    width: 800px;
    height: 800px;
    margin: auto;
    
}

#cuadrado1,#cuadrado3,#cuadrado6,#cuadrado8,#cuadrado9,#cuadrado11,#cuadrado14,#cuadrado16{
	width: 22%;
    height: 22%;
    background-color: blue;
    border-radius: 10px;
    float: left;
    margin: 10px 10px 10px 10px;
}

#cuadrado2,#cuadrado4,#cuadrado5,#cuadrado7,#cuadrado10,#cuadrado12,#cuadrado13,#cuadrado15 {
	width: 22%;
    height: 22%;
    background-color: red;
    border-radius: 10px;
    float: left;
    margin: 10px 10px 10px 10px;
}

#boton
{
    width: 50px;
    height: 50px;
    margin: 30% 0px 0px 30%;    
    background-color:darkorange;
    cursor: pointer;
    padding: auto;
    font-size: 20px;
    color:darkslategray;

}


#boton:hover
{
    
    background-color:chocolate;
    cursor: pointer;

}